<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration >
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date [%-5level] [%logger{1}] [%thread] - %message%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/home/ec2-user/logs/rms-application.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>application_%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>9</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>1MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%date [%-5level] [%logger{1}] [%thread] - %message%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <appender name="ACCESS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/home/ec2-user/logs/rms-access.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>rms-access_%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>9</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>1MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%message%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>


  <logger name="io.helidon.webserver.AccessLog" level="INFO" additivity="false">
    <appender-ref ref="ACCESS-LOG" />
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>